// start .sForm
.sForm {
	position: relative;
	overflow: hidden;

	.picture-bg {

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: .75;
			background: #43444B;
		}
	}

	h3 {
		margin-bottom: rem(15);
		line-height: 150%;
		font-weight: bold;
	}

	.container {
		position: relative;
		z-index: 2;
	}

	&__txtCol {
		color: #fff;
		@include media-breakpoint-down(lg) {
			padding-bottom: rem(50);
			text-align: center;
		}
	}

	.form-wrap {
		padding: rem(40) rem(30);
		box-shadow: 0px 10px 25px rgba(51, 51, 51, 0.1);
		max-width: 455px;
		margin-left: auto;
		@include media-breakpoint-down(lg) {
			margin-right: auto;
		}

		p {
			padding-left: 50px;
			padding-right: 50px;
		}

		&__input {
			text-align: center;
		}



	}

	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.sForm

.form-wrap {
	background-color: #fff;

	&__input-wrap {
		padding-bottom: rem(15);
	}
	&__text {
		color: $gray-500;
	}
	&__btn {
		width: 100%;
		margin-top: rem(15);
		margin-bottom: rem(30);
	}
}