mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		+pic('form-bg.jpg','','').picture-bg
		.container
			.row.align-items-center
				+e.txtCol.col-lg
					+b.section-title
						h2 Не нашли интересующую вас продукцию?
					p Сделайте запрос и&nbsp;мы&nbsp;осуществим доставку продукции на&nbsp;склад.
				.col-lg
					+form-wrap().text-center
						h3 Сделать запрос
						p Заполните форму, и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в ближайшее время
						+input('Ваше имя','text','','name')
						+input('Ваш телефон','tel')(required)
						+e.btn.btn.btn-primary(type="submit") Отправить
						+policy
				
	// end sForm