// start .sBenefit
.sBenefit {
	--sPT: #{rem(50)};
	--sPB: #{rem(38)};
	--sTPB: #{rem(50)};
	@include media-breakpoint-up(md) {
		--sPB: #{rem(26)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(60)};
		--sPB: #{rem(56)};
		--sTPB: #{rem(60)};
	}
	@include media-breakpoint-up(xl) {
		--sPB: #{rem(50)};

	}

	counter-reset: num;
	.row {
		--bs-gutter-x: #{rem(12)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(30)};
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: rem(30) rem(34);
		color: $body-color;
		border: 1px solid $light;
		height: 100%;
		min-height: rem(234);
		@include media-breakpoint-up(md) {
			padding: rem(29.5) rem(37);
			min-height: rem(281);
		}
		@include media-breakpoint-up(lg) {
			min-height: rem(257);
		}
		@include media-breakpoint-up(xl) {
			min-height: auto;
			padding: rem(29) rem(29) rem(27) rem(29);
		}
		&::before {
			content: counter(num);
			counter-increment: num;
			display: inline-block;
			position: absolute;
			top: 0;
			right: rem(34);
			font-weight: bold;
			font-size: rem(90);
			text-align: center;
			color: $gray-200;
			@include media-breakpoint-up(md) {
				right: rem(37);
			}
			@include media-breakpoint-up(xl) {
				right: rem(30);
			}
		}
		&:hover {
			box-shadow: $box-shadow;
		}
		img {
			margin-bottom: rem(25);
			width: 60px;
			height: 60px;
		}
		h6 {
			font-size: rem(16);
			line-height: 1.5;
			margin-bottom: rem(15);
			@include media-breakpoint-up(xl) {
				max-width: 200px;
				font-size: rem(18);
			}
		}
		p {
			margin-bottom: rem(15);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__col {
		// height: calc(100% - var(--bs-gutter-x));
		padding-bottom: var(--bs-gutter-x);
		@include media-breakpoint-up(xl) {
			
			&:nth-child(3) {
				width: 50%;
				.sBenefit__item {
					h6 {
						max-width: rem(305);
					}
				}
			}
			&:nth-child(4) {
				width: 50%;
				.sBenefit__item {
					h6 {
						max-width: rem(305);
					}
					p {
						max-width: 482px;
					}

				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sBenefit
