mixin sBenefit(data)
	// start sBenefit
	+b.SECTION.sBenefit.section#sBenefit&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span Ваши выгоды] при работе с&nbsp;нами
			.row
				mixin item(i, t, p)
					+e.col.col-md-6.col-xl-3
						+e.item
							img.res-i(src=`img/svg/benefit-${i}.svg`, alt='')
							h6!= t
							p!= p
				+item(1, `Большой ассортимент`, `150 000 наименований разнообразных товаров`)
				+item(2, `Всегда в наличии`, `Большая часть продукции в&nbsp;наличии в&nbsp;Москве, СПБ и&nbsp;НН`)
				+item(3, `Производство в Санкт-Петербурге и бесплатная доставка`, `Мы бесплатно доставим продукцию в ваш регион в минимальные сроки и без задержек`)
				+item(4, `Сервис покупателей`, `Мы сами сделаем замену с артикулов сторонних производителей и пришлём Вам ТКП с тех. описанием`)
				+item(5, `Высокое качество и сертификация&nbsp;ATEX`, `Качество продукции соответствует стоимости`)
				+item(6, `Отсутствие брака`, `У нас нет рекламаций за последние 5 лет работы. Можете проверить сами!`)
				
	// end sBenefit