mixin sBenefit(data)
	// start sBenefit
	+b.SECTION.sBenefit.section#sBenefit&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span Ваши выгоды] при работе с&nbsp;нами
			.row
				mixin item(i, t, p)
					+e.col.col-md-6.col-xl-3
						+e.item(href="#")
							img.res-i(src=`img/svg/benefit-${i}.svg`, alt='')
							h6!= t
							p!= p
				+item(1, `Большой ассортимент`, `150 000 наименований разнообразных товаров`)
				+item(2, `Всегда в&nbsp;наличии`, `Вся продукция в&nbsp;наличии на&nbsp;складе в&nbsp;Москве и&nbsp;Нижнем Новгороде`)
				+item(3, `Производство в&nbsp;Санкт-Петербурге и&nbsp;бесплатная доставка`, `Мы&nbsp;бесплатно доставим продукцию в&nbsp;ваш регион в&nbsp;минимальные сроки и&nbsp;без задержек`)
				+item(4, `Сервис покупателей`, `Мы&nbsp;сами сделаем замену с&nbsp;артикулов сторонних производителей и&nbsp;пришлём Вам ТКП с&nbsp;тех. описанием`)
				+item(5, `Высокое качество и&nbsp;сертификация ATEX`, `Качество продукции соответствует стоимости`)
				+item(6, `Отсутствие брака`, `У&nbsp;нас нет рекламаций за&nbsp;последние 5&nbsp;лет работы. Можете проверить сами!`)
				
	// end sBenefit