// start .sQwiz
.sQwiz {
	--sPT: #{rem(30)};
	--sPB: #{rem(110)};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(120)};
	}
	// --sTPB: ;

	h4 {
		color: $primary;
		margin-bottom: rem(30);
		font-weight: bold;
		line-height: 150%;
	}

		
	.form-wrap {
		&__input-wrap {
			padding-bottom: rem(30);
		}
		
		&__radioWrap {
			display: inline-flex;
			align-items: center;
			padding-top: rem(16);
			margin-bottom: 1rem;
		}
		&__block {
			padding-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(30);
			}
		}

		&__btn {
			width: auto;
			min-width: 358px;
			margin-top: rem(20);
			@include media-breakpoint-up(lg) {
				margin-top: rem(30);
			}
		}
	}



	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sQwiz

.form-wrap {
	&__input-title {
		line-height: 150%;
		font-weight: bold;
		margin-bottom: rem(14);
		display: block;
	}
}

.custom-radio {
	cursor: pointer;
	margin-bottom: rem(15);
	@include media-breakpoint-up(sm) {
		margin-bottom: rem(24);
	}
	margin-right: rem(30);
	display: flex !important;
	align-items: center;
	&__text{
		white-space: nowrap
	}
	&__radioInput{
		@extend .invisible;
	}

	&__dot {
		width: 24px;
		height: 24px;
		display: block;
		border: 1px solid #EAEAEA;
		
		position: relative;
		margin-right: rem(10);
		flex-shrink: 0;
		@include mt;

		&::before {
			content: '';
			@include a-cent;
			transform: scale(0);
			@include mt;
		}
	}
	[type="radio"]~&__dot{
		border-radius: 50%;
		&::before {
			
			width: 12px;
			height: 12px;
			background: $primary; 
			border-radius: 50%; 
		}
	}
	[type="checkbox"] ~ &__dot {
		&::before{
			width: 22px;
			height: 22px;
			background: $form-check-input-checked-bg-image;
		}
	}
 
	&__radioInput:checked ~ &__dot {
		border-color: $primary;

		&::before {
			transform: scale(1);
		}
	}

	&__input-wrap {
		width: 100%;
		padding-left: rem(20);
	}
}