// start .sDocumetation
.sDocumetation {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	&__sliderWrap {
		position: relative;
	}

	&__slide {
		position: relative;
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../img/@2x/frame.png');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		picture {
			padding: rem(16) rem(19);
		}

		&:hover {
			.sDocumetation__zoom {
				opacity: .5;
			}
		}
	}

	&__zoom {
		@include a-cent;
		background: #71737F;
		border-radius: 50%;
		display: grid;
		place-items: center;
		width: 97px;
		height: 97px;
		@include mt;
		opacity: 0;

		.icon {
			font-size: rem(13);
			color: #fff;
		}
	}

	.swiper-pagination {
		padding-top: rem(30);
	}

	.swiper-button-hand-next {
		right: calc(-10px + 10vw);
	}
	.swiper-button-hand-prev {
		left: 0;
	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDocumetation

.swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin: 0 5px;
		background-color: $light;
		&-active {
			background-color: $primary;
		}
	}
}