extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDocumetation/_sDocumetation.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sBenefit/_sBenefit.pug
include ../blocks/sPartner/_sPartner.pug

block variables
	- let  mainPage= null 
	- let  bg= `main.jpg`

block title
	- let  title= 'title'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+headerBlock()
	+sBenefit
	+sCatalog

	+sPartner
	+sDocumetation()
	+sForm()
	+sContact()
	+footer()




