mixin sPartner(data)
	// start sPartner
	+b.SECTION.sPartner.section.bg-wrap#sPartner&attributes(attributes)
		+pic('partner-bg.jpg','bg',0).picture-bg
		.container
			.row
				.col
					h2 Официальный дилер GCE Druva
					p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв
				.col-lg-auto
					+pic('logo-partner.png','',0).logo-picture
	// end sPartner