// start .sPartner
.sPartner {
	@include media-breakpoint-up(lg){
		--sPT: #{rem(80)};
		--sPB: #{rem(80)};
	}
		// --sTPB: ;
		color: #fff;
		.row{
			align-items: center;
		}
		h2{
			@include media-breakpoint-up(lg){
				max-width: rem(552);
			}
			line-height: (63 / 42);
			margin-bottom: rem(25);
		}
		@include media-breakpoint-up(lg){

			p{
				max-width: rem(552);
			}
		}
		.logo-picture {
		 
			@include media-breakpoint-up(lg) {

				width: rem(455);
			}
			height: rem(300);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			padding: rem(20);
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-down(lg) {
		// text-align: left;
		text-align: center;
		p{
			margin-bottom: rem(50);
		}
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartner