// start .topLine
.topLine {
	padding-top: rem(13.5);
	padding-bottom: rem(13.5);
	border-bottom: 1px solid $gray-100;
	.row {
		@include roww(20px);
		@include media-breakpoint-up(lg) {
			@include roww(30px);
		}
		@include media-breakpoint-up(xl) {
			@include roww(45px);
		}
	}

	&__logo {
		display: block;
		max-width: rem(200);
		padding-top: rem(10);
		padding-bottom: rem(10);
		img {
			width: 100%;
			height: auto;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
	}
	&__tel {
		color: $body-color;
		font-weight: bold;
		text-align: right;
		@include media-breakpoint-up(lg) {
			text-align: left;

		}
		&:hover {
			color: $primary;
		}
	}
	&__mail {
		&:hover {
			text-decoration: underline;
		}
	}

	&__order {
		color: $warning;
		text-decoration: underline;
		text-align: right;
		
	}

	&__questionnaire {
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
		padding-top: rem(10);
		padding-bottom: rem(10);
		color: $body-color;
		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
		}
		.icon {
			color: $warning;
			font-size: 24px;
			margin-right: rem(10);
		}
	}

	.btn-sm {
		width: 180px;
	}

	.soc {
		.icon{
			font-size: rem(20);
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.topLine
