// start .topLine
.topLine {
	position: relative;
	padding-top: rem(13.5);
	padding-bottom: rem(13.5);
	border-bottom: 1px solid transparent;
	background-color: $white;
	z-index: 1000;
	@include media-breakpoint-up(lg) {
		border-color: $gray-100;
	}
	.row {
		@include roww(20px);
		@include media-breakpoint-up(lg) {
			@include roww(30px);
		}
		@include media-breakpoint-up(xl) {
			@include roww(45px);
		}
	}

	&__logo {
		display: block;
		max-width: rem(200);
		padding-top: rem(10);
		padding-bottom: rem(10);
		img {
			width: 100%;
			height: auto;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
	}
	&__tel {
		color: $body-color;
		font-weight: bold;
		text-align: right;
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
		&:hover {
			color: $primary;
		}
	}
	&__mail {
		&:hover {
			text-decoration: underline;
		}
	}

	&__order {
		color: $warning;
		text-decoration: underline;
		text-align: right;
	}

	.btn-sm {
		width: 180px;
	}

	.soc {
		.icon {
			font-size: rem(20);
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.topLine

.questionnaire {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: rem(10);
	padding-bottom: rem(10);
	color: $body-color;
	position: relative;
	&__toggle{
		cursor: pointer;
		display: inline-flex;
	}
	&:hover{
		--hover: ' ';
	}
	&__dropdown{
		visibility: var(--hover, hidden);
		opacity: var(--hover, 0);
		transform-origin: 0 0;
		@include mt(.2s);
		position: absolute;
		background-color: #fff;
		top: 100%;
		left: 50%;
		margin-left: rem(-100);
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		box-sizing: border-box;
		box-shadow:  0px 10px 25px rgba(51, 51, 51, 0.1); 
		&::before{
			content: '';
			width: 10px;
			height: 10px;
			background-color: #fff;
			position: absolute;
			// bottom: 100%;
			pointer-events: none;
			top: -6px;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			border-top: 1px solid #EAEAEA;
			border-left: 1px solid #EAEAEA;
		}
		a{
			display: block;
			position: relative;
			z-index: 4;
			padding: rem(9) rem(12);
			color: $body-color  ;
			width: rem(200);
			&:hover{
				color: $primary;
			}
			&:first-child{
				border-bottom: 1px solid #EAEAEA;
			}
		}

	}
	@include media-breakpoint-up(lg) {
		justify-content: flex-start;
	}
	.icon {
		color: $warning;
		font-size: 24px;
		margin-right: rem(10);
	}
}
