.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	padding-top: 1px;
	margin-bottom: -1px;
	@include media-breakpoint-up(lg) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	li {
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a {
		position: relative;
		display: block;
		padding: rem(15) 0;
		font-weight: bold;
		font-size: rem(38);
		color: #333333;
		&:hover {
			color: $primary;
		}
		@include media-breakpoint-up(lg) {
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			&::after {
				content: "";
				@include mt;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				bottom: 0;
			}

			&:hover,
			:active,
			&.active {
				&::after {
					background-color: $primary;
				}
			}
		}
	}
}
