// start .sStages
.sStages {
	--sPT: #{rem(50)};
	--sPB: #{rem(38)};
	--sTPB: #{rem(50)};
	@include media-breakpoint-up(md) {
		--sPB: #{rem(26)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(80)};
		--sPB: #{rem(56)};
		--sTPB: #{rem(60)};
	}
	@include media-breakpoint-up(xl) {
		--sPB: #{rem(50)};
	}

	counter-reset: num;
	.row {
		--bs-gutter-x: #{rem(12)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(30)};
		}
	}
	&__item {
		@include mt;
		display: flex;
		flex-direction: column;
		position: relative;
		padding: rem(29) rem(34);
		color: $body-color;
		border: 1px solid $light;
		height: 100%;
		min-height: 254px;
		@include media-breakpoint-up(md) {
			min-height: auto;
			padding: rem(29);
			align-items: center;
		}
		@include media-breakpoint-up(lg) {
			align-items: flex-start;
		}
		@include media-breakpoint-only(lg) {
			min-height: 254px;
		}
		&::before {
			content: counter(num);
			counter-increment: num;
			display: inline-block;
			position: absolute;
			top: 0;
			right: rem(34);
			font-weight: bold;
			font-size: rem(90);
			text-align: center;
			color: $gray-200;
			@include media-breakpoint-up(md) {
				right: rem(30);
			}
		}
		&:hover {
			box-shadow: $box-shadow;
		}
		img {
			margin-bottom: rem(25);
			width: 60px;
			height: 60px;
		}
		h6 {
			font-size: rem(16);
			line-height: 1.5;
			margin-bottom: rem(15);
			@include media-breakpoint-up(xl) {
				max-width: 200px;
				font-size: rem(18);
			}
		}
		p {
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				max-width: 440px;

				text-align: center;
			}
			@include media-breakpoint-up(lg) {
				text-align: left;
			}
		}
	}
	&__col {
		padding-bottom: var(--bs-gutter-x);
		@include media-breakpoint-up(xl) {
		}
	}

	.btn-sm {
		position: relative;
		padding: 0;
		padding-bottom: rem(10);
		margin-bottom: rem(-10px);
		&__toggle{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 240px;
			font-weight: normal;
			font-size: rem(16);
			line-height: 150%;
			padding-top: rem(10);
			padding-bottom: rem(10);
			padding-left: rem(12);
			padding-right: rem(12);
		}
		margin-top: rem(15);
		@include media-breakpoint-up(md) {
			margin-top: rem(24);
		}
		@include media-breakpoint-up(xl) {
			margin-top: rem(15);
		}
		.icon {
			font-size: rem(24);
			margin-right: rem(10);
		}
		
		&__toggle {
			cursor: pointer;
			display: inline-flex;
		}
		
		&:hover {
			--hover: ' ';
		}
		
		&__dropdown {
			visibility: var(--hover, hidden);
			opacity: var(--hover, 0);
			transform-origin: 0 0;
			@include mt(.2s);
			z-index: 40;
			position: absolute;
			background-color: #fff;
			top: 100%;
			left: 50%;
			margin-left: rem(-100);
			background: #FFFFFF;
			border: 1px solid #EAEAEA;
			box-sizing: border-box;
			box-shadow: 0px 10px 25px rgba(51, 51, 51, 0.1);

			&::before {
				content: '';
				width: 10px;
				height: 10px;
				background-color: #fff;
				position: absolute;
				// bottom: 100%;
				pointer-events: none;
				top: -6px;
				left: 50%;
				transform: translateX(-50%) rotate(45deg);
				border-top: 1px solid #EAEAEA;
				border-left: 1px solid #EAEAEA;
			}

			a {
				display: block;
				position: relative;
				z-index: 4;
				padding: rem(9) rem(12);
				color: $body-color;
				width: rem(200);

				&:hover {
					color: $primary;
				}

				&:first-child {
					border-bottom: 1px solid #EAEAEA;
				}
			}

		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sStages
