//- WP menu
mixin mnu()
	//- "Разрешительные документы":"#sDocumetation",
	-
		var nav= { 
			"Преимущества":"#sBenefit",
			"Каталог":"#sCatalog",
			"Этапы работ":"#sStages" ,
			"Сделать запрос":"#sForm",
			"Контакты":"#sContact",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item.menu-item-has-children
			a(href="/" itemprop="url") Главная
			//- ul.sub-menu
			//- 	-
			//- 		var subnav= { 
			//- 			"Строительство загородных домов":"#",
			//- 			"Отделка загородных домов":"#",
			//- 			"Покраска деревянных домов":"#",
			//- 			"Штукатурные фасады загородных домов":"#" ,
			//- 			}
			//- 	each sublinkPatch, sublinkName in nav
			//- 		li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName
		block

//- menu